.social-login

	.fb-login-button(data-max-rows="1", data-size="large", data-show-faces="false", data-auto-logout-link="false")

	p.social-login-disclaimer Fique tranquilo, não vamos usar seus dados, nem fazer, nem fazer publicações em seu nome!

	p.social-login-disclaimer
		span.social-login-disclaimer-ps Ao usar o 
			em.social-login-disclaimer-emphasys Facebook 
			span ou o 
			em.social-login-disclaimer-emphasys Google
			, você concorda com nossos 
			em.social-login-disclaimer-terms-link termos de uso
