.form
	+span-columns(7 of 12)
	color: #fff

	.form-fieldset
		background-color: transparent
		border: 0 none transparent

	.form-input
		text-indent: .4rem
		background-color: transparent
		color: #f5f5f5

	.form-input-checkbox
		float: left

	.ng-invalid-pattern
		border: 1px solid #f00

	.ng-valid
		border: 1px solid #0f0


	
	.medium-up-5
		+span-columns(5)
		
		&:last-child
			float: right

	.medium-up-6
		+span-columns(6)
		
		&:last-child
			float: right

	.medium-up-9
		+span-columns(9)

		&:last-child
			float: none
			margin-right: auto


	.form-input-label-agreement
		font-size: .87rem
		font-weight: 100


	.form-input-emphasys
		color: #06a


	.form-submit
		margin-right: auto
		margin-left: auto
		height: 3.775rem


.input-pass-group
	display: inline-block
	padding-top: 38px
	width: 100%
	float: none

	&:last-child
		float: none
		margin-right: auto






