extends _layout

block content
	hgroup.login-group-header
		h1.login-group-header-h1 Mais fácil ainda
		h2.login-group-header-h2 Só precisamos de algumas informações


	div(data-ng-view)

		











